@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.btn {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

a.btn.btn-primary {
    margin: 5px;
    padding: auto;
    background-color: #ECE8D9;
    border-color: transparent;
    color: #9A8194;
}


div.stocks h2 {
    font-family: 'Poppins';
    text-align: center;
    color: #9A8194;
}

h2.h2 {
    font-family: 'Poppins';
    text-align: center;
    color: #9A8194;
}

div.about {
    background: #ECE8D9;
    width: 90%;
    margin:0 auto;
}